.app-header {
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr);
  column-gap: 4rem;
  align-items: flex-end;
  @media (max-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--c-gray-600);
  }
}

